body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
}
.nav-bar {
    width: 100%;
}
.nav-container {
    overflow: hidden;
    margin: 2.95% auto;
}
.nav-menu {
  display: none;
}
nav.nav-bar ul {
  list-style: none;
}
.nav-list {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.nav-list li {
  float: left;
  width:12.5%;
}
.nav-list li a {
  display: block;
  color: #f9f9f9;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
  padding: 30px 30px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition:all 0.2s linear;
   -moz-transition:all 0.2s linear;
     -o-transition:all 0.2s linear;
        transition:all 0.2s linear;
}
.nav-list li a:hover {
  -webkit-filter: brightness(1.3);
  padding-top: 80px ;
}
#tile1 {
  background:#00ced7
}
#tile2 {
  background:#00bbc3
}
#tile3 {
  background:#00a8af
}
#tile4 {
  background:#00959c
}
#tile5 {
  background:#00889c
}
#tile6 {
  background:#007b9c
}
#tile7 {
  background:#006e9c
}
#tile8 {
  background:#005c83
}
